*{
    margin: 0%;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(233, 47%, 7%);
    margin: 50px 20px;
}
.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: hsl(244, 38%, 16%);
   border-radius: 10px;
}
.header .mobile-view {
    width: 100%;
    height: 300px;
    opacity: 0.5;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: hsl(277, 86%, 42%);
}

h1 {
    text-align: center;
    color: white;
    width: 70%;
    font-weight: 800;
    font-size: 25px;
    margin: auto;
    padding-top: 20px;
}

p {
    text-align: center;
    color: hsla(0, 0%, 100%, 0.75);
    margin: auto;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 400;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
    margin-top: 10px;
}

.footer p {
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 4px;
    
}

.footer a {
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    padding: 4px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;

}

.attribution {
    text-align: center;
    font-size: 20px;
    color: #fff;
    padding: 20px;
}

.attribution a {
    color: #fff;
    text-decoration: none;
}

@media  screen and (max-width:1439px) {
    .header .desktop-view {
        display: none;
    }    
    
}
@media screen and (min-width: 1440px) {
    .header .mobile-view {
        display: none;
    }    
    .container {
        display: flex;
        flex-direction: row-reverse;
        align-content: flex-start;
        gap: 10px;
    }

    .header .desktop-view {
        height: 100%;
        padding-right: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: hsl(277, 86%, 42%);
    }

    .page h1 {
        font-size: 60px;
        text-align: left;
        padding-top: 50px;
        padding-bottom: 10px;
    }

    .page .passage {
        font-size: 30px;
        text-align: left;
        margin-left: 90px;
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .footer {
        display: flex;
        flex-direction: row;
        margin-left: 40px;
        margin-top: 30px;
    }
    .footer p {
        font-size: 40px;
        font-weight: 700;
    }

    .footer a {
        font-size: 20px;
        margin-left: 30px;
    }
}

